/* Full-Screen Background */
.homepage-container {
  width: 100vw;
  height: 100vh;
  background-size: cover;       /* Cover the entire screen */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* No repeating */
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

/* My Account Button */
.myaccount-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.myaccount-button {
  background-color: black;
  color: white;
  font-size: 18px;
  font-family: 'serif';
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
}

/* Logo Container */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 50px;  /* Adjust size as needed */
  height: auto;
  margin-right: 10px;
}

.resume-builder {
  color: white;
  font-family: 'serif';
  font-size: 30px;
}

/* Centered Image */
.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Adjust size as needed */
  height: auto;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: white;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.line-div {
  border-left: 1px solid white;
  height: 14px;
}
